# fluent python
## chapter 2
### Using *

In [5]:
# to grab

a, b, *rest = range(5)
print(a, b, rest)
a, b, *rest = range(3)
print(a, b, rest)
a, b, *rest = range(2)
print(a, b, rest)
# --------------------
print([*range(4), 4, *(5, 6, 7)])

0 1 [2, 3, 4]
0 1 [2]
0 1 []
[0, 1, 2, 3, 4, 5, 6, 7]

In [2]:
# in functions:
def fun(a_, b_, c_, d_, *rest_):
    # return always returns items in a tuple
    return a_, b_, c_, d_, rest_
fun(*[1, 2], 3, *range(4, 7))

(1, 2, 3, 4, (5, 6))

In [7]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

for name, _, _, (lat, lon) in metro_areas:
    if lon <= 0:
        print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')

Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358